body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --background: #f3f6f4;
  --navcolour: #bababa;
  --text-primary: black;
  --background-secondary: #ffffff;
}

[data-theme='dark'] {
  --background: #272727;
  --navcolour: #000000;
  --text-primary: white;
  --background-secondary: #676767;
}